[Unit]
Description=GNOME kiosk session
After=graphical.target systemd-user-sessions.service

[Service]
User=root
WorkingDirectory=~

PAMName=login
TTYPath=/dev/tty7
StandardInput=tty
UnsetEnvironment=TERM

UtmpIdentifier=tty7
UtmpMode=user

StandardOutput=journal
ExecStartPre=/usr/bin/chvt 7
ExecStart=/usr/bin/gnome-session --session=org.gnome.Kiosk.Agama
Restart=no

[Install]
WantedBy=graphical.target
