[Desktop Entry]
Type=Application
Name=GNOME Mutter
Comment=GNOME Compositor
Exec=/usr/bin/mutter --wayland --no-x11
Categories=GNOME;GTK;Core;System;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=DisplayServer
X-GNOME-Provides=panel;windowmanager;
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=false
X-GNOME-HiddenUnderSystemd=true
